# Copy this file to .env and replace the placeholders with values from:
# https://docs.google.com/spreadsheets/d/<GSHEET_ID>/edit#gid=<GSHEET_GID>

GSHEET_ID=your_google_sheets_document_id
GSHEET_GID=0
